
<!-- path to root -->
<%= link_to "WIKI", root_path  %>
<!-- Add an article -->
<%= link_to "Add an article", new_article_path %>
<!-- display list of articles -->
<div class="container">
  <% @articles.each do |article| %>
  <h2><%= link_to article.title, article_path(article) %></h2>
  <p><%= article.content %></p>
  <% end %>
</div>


